@import '../../partials/mixins';

.eventCard {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	max-width: 490px;
	&__title {
		font-weight: 700;
		margin-bottom: 1rem;
		text-align: center;
	}
	&__info {
		margin-bottom: 0.5rem;
	}
}