@import '../../partials/mixins';

.events {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}