@import '../../partials/mixins';

.eventForm {
	display: flex;
	flex-direction: column;
	border: 1px solid $vsilver;
	border-radius: 5px;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	max-width: 490px;
	&__label {
		margin-bottom: 0.5rem;
	}
	&__input {
		width: 100%;
		margin-bottom: 0.5rem;
	}
	&> button {
		margin-top: 0.5rem;
	}
}